<h1>Show Client</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @client.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @client.description %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @client.active %>
  </li>

  <li>
    <strong>Url logo:</strong>
    <%= @client.url_logo %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.client_path(@conn, :edit, @client) %></span>
<span><%= link "Back", to: Routes.client_path(@conn, :index) %></span>
